
body {
    padding-top: 20px;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
    
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
    background-color: #eee;
    border-radius: 0;
}
.nav-justified > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #777;
    font-size:30px;
    text-align: center;
    background-image: url("../img/darkmesh.png");
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    color:#fff;
    background-image: url("../img/bluemesh.png");
}
.nav-justified a:hover {
    background-image: none;
    color:#000;
    background-color: #d0d0d0;
}
.nav-justified > li:first-child > a {
    border-radius: 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 0;
    }
    .nav-justified > li:last-child > a {
        border-radius: 0;
        border-right: 0;
    }
}
