@font-face {
    font-family: BebasNeue;
    src: url('BebasNeue.otf');
}

@font-face {
    font-family: TraditionellSans;
    src: url('TraditionellSansBold.ttf');
}

body {
    padding-top: 20px;
	padding-bottom: 60px;
    color:gray;
	overflow-y: scroll;
}

/* Custom container */
.container {
	margin: 0 auto;
    max-width: none !important;
	width: 970px;
}
.container > hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 80px 0;
	text-align: center;
    background-image: url('../img/profil.png');
    background-repeat:no-repeat;
    background-position:center;
}
/* Main marketing message and sign up button */
.jumbotron.erreur {
	margin: 80px 0;
	text-align: center;
    background-image: url('../img/affiche-sortie.png');
    background-repeat:no-repeat;
}

.jumbotron h1, .jumbotron.erreur h1 {
	font-size: 100px;
	line-height: 1;
}
.jumbotron .lead, .jumbotron.erreur .lead {
	font-size: 20px;
	line-height: 1.25;
}
.jumbotron .btn, .jumbotron.erreur .btn {
	font-size: 20px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 0;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0;
}

.logo-title {
    text-align:center;
    width:auto;
}

.logo-title img:hover{
    text-align:center;
    width:auto;
    cursor:pointer;
}

.logo-title span.social {
    float:right;
    padding-top:10px;
}

.logo-title span.social span {
    padding-left:15px;
}

.logo-title h1 {
    font-size:100px;
}

.footer {
    border-top-color: #ddd;
}

.footer,.btn {
    font-size:20px;
}
    
body {
    background-image: url('../img/lghtmesh.png');
}

.title-h1-activable, .title-h1-activable-first {
	cursor:pointer;
}

h1.title-h1, h1.title-h1-activable, h1.title-h1-activable-first {
    font-size: 80px;
    text-align:center;
    background-image: url('../img/profil-h1.png');
    height:80px;
	width:100%;
}

h1.title-h1 img, h1.title-h1-activable img, h1.title-h1-activable-first img {
	width:64px;
	height:64px;
	float:right;
	margin-top:8px;
	margin-bottom:8px;
	margin-right:8px;
	cursor:pointer;
}

h2 {
	font-family:TraditionellSans;
	color:#499ca4;
}

table,p,address,input,label,textarea,.btn {
	font-family:TraditionellSans;
	font-size:20px;
}

p {
	text-indent:2em;
}

p a {
	text-indent:0;
}

div a {
	text-indent:0;
}

.footer p {
	text-indent:0;
}

th {
    font-weight:normal;
    font-size:30px;
	color:#499ca4;
}

.projet {
    opacity:0.25;
}

.jumbotron h1 {
    background-image:none;
}

.modal-content {
	background-image: url('../img/lghtmesh.png');
}

.modal-body{
	border-top: 1px solid #d5d5d5;
}

.modal-footer{
	border-top: 1px solid #d5d5d5;
}
